name: GitHub - No Commits on GitHub Web
on:
  push:

jobs:
  has-web-commits:
    runs-on: ubuntu-22.04
    steps:
      - name: Check if PR author is allow-listed
        id: pr_author
        uses: actions/github-script@d7906e4ad0b1822421a7e6a35d5ca353c962f410 # v6
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            core.setOutput('is_allow_listed', false);
            core.setOutput('another', true)

      - name: Check if commits are made on GitHub Web UI
        id: check-commits
        if: steps.pr_author.outputs.is_allow_listed != 'false'
        run: |
          echo "${{ steps.pr_author.outputs.result }}"
          echo "${{ steps.pr_author.outputs }}"
          echo "${{ steps.pr_author.outputs.result.is_allow_listed }}"
          echo "${{ steps.pr_author.outputs.is_allow_listed }}"
          echo "${{ steps.pr_author.outputs.another }}"

      - name: Add comment on PR if commits are made on GitHub Web UI
        uses: actions/github-script@d7906e4ad0b1822421a7e6a35d5ca353c962f410 # v6
        if: steps.pr_author.outputs.result.is_allow_listed == 'false' && env.IS_GITHUB_COMMIT == 'true'
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            core.setFailed("Commits were added via the GitHub Web UI.");
            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: "Thanks for your pull request.\n\n**Please do not add commits via the GitHub Web UI.**\n\nIt generally means you have yet to test these changes in a development setup or complete any prerequisites. We need you to follow the guides mentioned in the checklist. Please revalidate these changes in a developer environment and confirm how you validated your changes.\n\nHappy contributing!\n\n---\n_**Note:** This message was automatically generated by a bot. If you feel this message is in error or would like help resolving it, feel free to reach us [in our contributor chat](https://discord.gg/PRyKn3Vbay)._"
            });
